name: Build Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            artifact_name: amp-server.exe
            asset_name: amp-server-windows-x86_64.exe
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact_name: amp-server
            asset_name: amp-server-linux-x86_64
          - os: macos-latest
            target: x86_64-apple-darwin
            artifact_name: amp-server
            asset_name: amp-server-macos-x86_64

    steps:
      - uses: actions/checkout@v3
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      
      - name: Build
        run: cargo build --release --target ${{ matrix.target }}
      
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/${{ matrix.target }}/release/${{ matrix.artifact_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
